.nav-bar {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.nav-bar button {
	font-family: "Verdana" sans-serif;
	font-size: .8em;
	text-align: left;
	background: none;
	margin: 10px;
	padding: 0;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
}